[package]
name = "varnish"
version = "0.0.12"
authors = ["Guillaume Quintard <guillaume.quintard@gmail.com>"]
edition = "2021"
license = "BSD-3-Clause"
description = "Access to the Varnish modules API"
homepage = "https://github.com/gquintard/varnish-rs"
repository = "https://github.com/gquintard/varnish-rs"
readme = "README.md"
keywords = ["varnish", "vmod", "cache", "http", "reverse-proxy"]
categories = [ "api-bindings"]

[dependencies]
varnish-sys = { path = "varnish-sys", version = "0.0.12" }
pkg-config = "0.3.22"
serde = { version = "1", features = ["derive"] }

[workspace]

members = [ "examples/vmod_*", "vmod_test" ]
