[package]
name = "varnish-sys"
version = "0.0.15"
authors = ["Guillaume Quintard <guillaume.quintard@gmail.com>"]
edition = "2021"
license = "BSD-3-Clause"
description = "Bindings to the Varnish Cache libraries"
homepage = "https://github.com/gquintard/varnish-rs/blob/varnish-sys"
repository = "https://github.com/gquintard/varnish-rs"
readme = "README.md"
keywords = ["varnish", "vmod", "cache", "http", "reverse-proxy"]
categories = [ "api-bindings"]

[package.metadata.libvarnishapi]
version = "7.3"

[build-dependencies]
pkg-config = "0.3.22"
bindgen = "0.64.0"

[lib]
name = "varnish_sys"
